@use '@angular/material' as mat;

@include mat.core();


$theme: mat.define-theme((
  color: (
    theme-type: light
  ),
  density: 0
));

:root {
  @include mat.all-component-themes($theme);
  @include mat.typography-hierarchy(); 
}

body {
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}
